
/* 
.form-container {
    position: relative;
    width: 300px;
    height: 400px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.login {
    background-image: url('../../assets/aia_logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    height: 100vh;
  } 

.signin-active {
    transform: rotateY(0deg);
}

.signup-active {
    transform: rotateY(180deg);
}

.form-box {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgb(255, 255, 255);
    color: #fff;
}

.content {
    color: #fff;
}

.signup-active .form-box {
    transform: rotateY(180deg);
}

.form-field {
    margin: 10px 0;
}

.form-button {
    margin-top: 20px;
    background-color: #3f51b5;
    color: white;
}

.form-button:hover {
    background-color: #303f9f;
}

.toggle-button {
    margin-top: 10px;
}

.toggle-button:hover {
    color: #303f9f;
} */