/* nav bar  */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo img {
    vertical-align: middle;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-left: 10px;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav li a:hover {
    text-decoration: underline;
}